body {
    background-color: #F7F7F7;
    font-size: 100%;
}

#navbar {
  border-radius: 0;
  background-color: #142230;
}

#ds_tab_contents .tab.segment {
    margin-top: 0em;
    margin-bottom: 0em;
    /*padding: 0;*/
    background: #E0E0E0 !important;
}
#ds_tabs .item i.on{
    display: none;
}
#ds_tabs .item i.off{
    display: inherit;
}

#ds_tabs .active.item i.on{
    display: inherit;
}
#ds_tabs .active.item i.off{
    display: none;
}
#ds_tabs .tablabel {
  cursor: pointer;
}
#ds_tabs button {
  margin: .666em;
}
#ds_tabs .active.item .tablabel{
  font-weight: 700;
}
#ds_tabs .active.item .tablabel:after{
    content: " (default)";
    display: inline;
}
#ds_tabs td {
  padding: 0;
}
.datasources .four.wide.column {
    padding-right: 0em;
}
.datasources .twelve.wide.column {
    padding-left: 0em;
}

.ui.modal .form {
    margin-left: 1em;
}

/* excluded features */
.disabled.item {
    color: rgba(0, 0, 0, 0.4);
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

div.ui.message.transition {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

div.ui.inverted.footer.segment {
  background: #142230;
}