body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#navbar {
  border-radius: 0;
}

#output {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#sel_bar {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 0 0 0;
    margin: 0;
    z-index: 1;
    min-width: 200px;
    width: 25%;
    min-width: 300px;
    border-radius: 4px;
    box-shadow: rgba(34, 36, 38, 0.15) 0px 1px 2px 0px;
    box-sizing: border-box;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

#selectionInfo div.content {
    max-height: 500px;
    overflow-y: auto;
}

h4 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
h5 {
    padding: 0em 0em 1em 0em;
    margin: 0em;
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

div.ui.message.transition {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* settings panel css */

#time_box p {
    margin: 0;
}



#searchbar {
    position: absolute;
    top: 60px;
    left: 400px;
    z-index: 1;
}
#searchbar div.thin.item{
    padding: 2px !important;
}

#searchbar button.active {
    background: #2185D0 !important;
}

#searchbar button.active:hover {
    background: #1170B0 !important;
}

#settings_menu .dropdown .ui.button {
  text-align: left;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}


#pulltab {
  background-color: black;
  display: inline-block;
  margin-top: 0.5em;
  border-radius: 0 0.25em 0.25em 0;
  z-index: 103;
}

#pulltab a {
  display: inline-block;
  color: rgba(255,255,255,.9);
  font-size: 1.5rem;
  padding: 0.4em 0.0em 0.4em 0em;
}

#pulltab a:hover {
	background: rgba(255,255,255,.08);
	color: #fff;
}

#sidebar {
  color: rgba(255,255,255,.9);
  border-radius: 0;
}

#sidebar .segment {
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.accordion .title:hover {
	background: rgba(255,255,255,.08);
	color: #fff;
}

#mapconfig .content {
  padding: 0.5em 0em 0.5em 1.0em;
  background: rgba(255,255,255,0.05);
}

#mapconfig label {
  margin-top: 1em;
  display: block;
  color: rgba(255,255,255,0.5);
}

#mapconfig .title {
  margin: 0.5em 0 0 0;
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: .25em;
}

#mapconfig .textinput {
  margin: 0 0.5em;
}

#mapconfig input {
  display: block;
}
