body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#output {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#sidebar {
    position: absolute;
    top: 2em;
    right: 2em;
    border-radius: 2em;
    display: block;
    min-width: 200px;
    width: 25%;
    max-height: calc(100% - 4em);
    border: 0.5em solid lightblue;
    background-color: white;
    z-index: 1;
    padding: 2em;
    overflow-y: hidden;
    overflow-x: hidden;
}

h4 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
h5 {
    padding: 0em;
    text-align: center;
    margin: 0em 0em 1em 0em;
    font-style: italic;
    font-weight: normal;
}

#selectionInfo div.content {
    max-height: 500px;
    overflow-y: scroll;
}