body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

#output {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#sel_bar {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 0 0 0;
    margin: 0;
    z-index: 1;
    min-width: 200px;
    width: 25%;
    min-width: 300px;
    border-radius: 4px;
    box-shadow: rgba(34, 36, 38, 0.15) 0px 1px 2px 0px;
    box-sizing: border-box;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
}

#searchbar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}
#searchbar div.thin.item{
    padding: 2px !important;
}

#searchbar button.active {
    background: #2185D0 !important;
}

#searchbar button.active:hover {
    background: #1170B0 !important;
}

#time_box p {
    margin: 0;
}

h4 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
h5 {
    padding: 0em 0em 1em 0em;
    margin: 0em;
    text-align: center;
    font-style: italic;
    font-weight: normal;
}

#selectionInfo div.content {
    max-height: 500px;
    overflow-y: auto;
}

#settings_menu .dropdown .ui.button {
  text-align: left;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}