#filters label.inline {
  display: inline;
}

.hspacer {
  display: inline-block;
  width: 5em;
}

#filters .dropdown.icon {
    margin:  -0.7857em;
    padding: 0.4857em;
}

#filters .input input {
    margin:  0.35em 0.5em 0.35em 0.5em;
    padding: 0.3em  2.1em 0.3em  0.5em;
    min-height: 2em;
}

#filters .selection.dropdown {
    margin:  0.35em 0.5em 0.35em 0.5em;
    padding: 0.3em  2.1em 0.3em  1em;
    min-height: 2em;
}

#filters .multiple.selection.dropdown {
    margin:  0.35em 0.5em 0.35em 0.5em;
    padding: 0.1em  2.1em 0.1em  0.2em;
    min-height: 2em;
}

#filters .multiple.search .dropdown.icon {
    margin:  -0.7857em;
    padding: 0.7857em;
}

div.ui.message.transition {
    position: fixed;
    bottom: 10px;
    right: 10px;
}