$def with (menuItems, selected, user, debug)
<div class="ui inverted main menu" id="navbar">
    <div class="header item">
        <a href="/"><img class="logo ui middle aligned spaced image" width="32px" height="32px" src="/static/img/logo_light.png">Systems Architecture Mapper</a>
    </div>
    $for menuItem in menuItems:
        $ active = ''
        $if menuItem['name']==selected:
            $ active = 'active'
        $if user.any_group(set(menuItem['group'].split())):
            <a class="item $active" href="$menuItem['link']">
                <i class="$menuItem['icon'] icon"></i>
                $menuItem['name']
            </a>
</div>