$def with ()
$# "$def with (arg1, ...)" MUST be the first line. See template.py for details
<script src="/static/js/map.js"></script>
<h3 class="ui center aligned header">Map</h3>
<div id="output">
    <canvas id="canvas"></canvas>
    <div id="sidebar">
    <h4 id="selectionName">No selection</h4>
    <h5 id="selectionNumber"></h5>
    <div id="selectionInfo"></div>
    </div>
</div>
<script type="application/javascript">
var body = document.getElementsByTagName("body")[0];
body.addEventListener("load", init(), false);
</script>