$def with ()
$# "$def with (arg1, ...)" MUST be the first line. See documentation on web/template.py for details
<script src="/static/js/map.js"></script>
<h3 class="ui center aligned header">Loading...</h3>
<div id="output">
    <canvas id="canvas"></canvas>
    <div id="searchbar">
        <div class="ui icon menu">
            <div class="ui left dropdown item">
                <i class="setting icon large"></i>
                <div class="menu">
                    <div class="ui item">
                        <p>Time Range</p>
                        <div class="slider-box">
                            <div id="slider-date"></div>
                        </div>
                        <p><input class="slider-input" id="input-start" value="2016-06-19 19:00"> From</p>
                        <p><input class="slider-input" id="input-end" value="2016-06-20 08:00"> To</p>
                    </div>
                    <div class="ui item">
                        <div class="ui icon input" data-content="Filter by port number. Try: 80">
                            <input placeholder="Filter by port..." id="filter" type="text">
                            <i class="filter icon"></i>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui toggle checkbox">
                            <input id="show_clients" name="show_clients" checked = "" type="checkbox">
                            <label>Show Clients</label>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui toggle checkbox">
                            <input id="show_servers" name="show_servers" checked = "" type="checkbox">
                            <label>Show Servers</label>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui toggle checkbox">
                            <input id="show_out" name="show_out" type="checkbox">
                            <label>Show Outbound Traffic</label>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui toggle checkbox">
                            <input id="show_in" name="show_in" checked = "" type="checkbox">
                            <label>Show Inbound Traffic</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui item">
                <div class="ui icon input" data-content="Find an IP address. e.g. 192.168.0.12">
                    <input placeholder="Find IP..." id="search" type="text">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="sel_bar">
        <div id="sel_titles">
            <h4>No selection</h4>
            <h5></h5>
        </div>
        <div id="selectionInfo" class="ui styled fluid accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                Unique inbound connections: <span id="unique_in">0</span>
            </div>
            <div class="content">
                <div class="transition hidden">
                    <table class="ui very compact celled structured table">
                        <thead>
                          <tr>
                            <th>Source IP</th>
                            <th>Dest. Port</th>
                            <th>Count</th>
                          </tr>
                        </thead>
                        <tbody id="conn_in"></tbody>
                        <tfoot class="full-width" id="conn_in_overflow"></tfoot>
                    </table>
                </div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Unique outbound connections: <span id="unique_out">0</span>
            </div>
            <div class="content">
                <div class="transition hidden">
                    <table class="ui very compact celled structured table">
                        <thead>
                          <tr>
                            <th>Dest. IP</th>
                            <th>Dest. Port</th>
                            <th>Count</th>
                          </tr>
                        </thead>
                        <tbody id="conn_out"></tbody>
                        <tfoot class="full-width" id="conn_out_overflow"></tfoot>
                    </table>
                </div>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Unique ports accessed: <span id="unique_ports">0</span>
            </div>
            <div class="content">
                <div class="transition hidden">
                    <table class="ui very compact sortable celled table">
                        <thead>
                          <tr>
                            <th>Port Accessed</th>
                            <th class="sorted descending">Occurrences</th>
                          </tr>
                        </thead>
                        <tbody id="ports_in"></tbody>
                        <tfoot class="full-width" id="ports_in_overflow"></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui modal ports">
    <div class="header">Port <span id="port_number"></span></div>
    <div class="content">
        <table class="ui table">
            <tr><td class="right aligned">Use Name Translation:</td><td><div class="ui fitted toggle checkbox"><input id="port_active" type="checkbox"><label></label></div></td></tr>
            <tr><td class="right aligned">Default Name:</td><td id="port_name"></td></tr>
            <tr><td class="right aligned">Default Description:</td><td id="port_description"></td></tr>
            <tr>
                <td class="right aligned">Alias Name:</td>
                <td>
                    <div class="ui input" data-content="A custom alias to override the default name">
                        <input placeholder="port name" id="port_alias_name" type="text">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="right aligned">Alias Description:</td>
                <td>
                    <div class="ui input" data-content="A custom alias to override the default description">
                        <input placeholder="port description" id="port_alias_description" type="text">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <div class="ui blue ok button">
            <i class="save icon"></i>
            Save
        </div>
        <div class="ui red cancel button">
            <i class="cancel icon"></i>
            Cancel
        </div>
    </div>
</div>
<div class="ui modal nodeinfo">
    <div class="header">Port <span id="host_number"></span></div>
    <div class="content">
        <table class="ui table">
            <tr>
                <td class="right aligned">Host Name:</td>
                <td>
                    <div class="ui input" data-content="A custom alias to override the default name">
                        <input placeholder="host name" id="host_name" type="text">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <div class="ui blue ok button">
            <i class="save icon"></i>
            Save
        </div>
        <div class="ui red cancel button">
            <i class="cancel icon"></i>
            Cancel
        </div>
    </div>
</div>
<script type="application/javascript">
var body = document.getElementsByTagName("body")[0];
body.addEventListener("load", init(), false);
</script>