$def with ()
$# "$def with (arg1, ...)" MUST be the first line. See template.py for details
<h3 class="ui center aligned header">Overview</h3>
<div class="ui container">
  <table class="ui celled striped table">
    <thead>
    <tr><th colspan="3">
      <div id="hostSearch" class="ui icon input">
        <input placeholder="Search..." type="text">
        <i class="circular search link icon"></i>
      </div>
    </th>
    </tr></thead>
    <tbody>
    <tr>
      <td class="collapsing">
        <i class="folder icon"></i> node_modules
      </td>
      <td>Initial commit</td>
      <td class="right aligned collapsing">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="folder icon"></i> test
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="folder icon"></i> build
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="file outline icon"></i> package.json
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    <tr>
      <td>
        <i class="file outline icon"></i> Gruntfile.js
      </td>
      <td>Initial commit</td>
      <td class="right aligned">10 hours ago</td>
    </tr>
    </tbody>
  </table>
</div>