$def with ()
<h3 class="ui center aligned header">Overview</h3>
<div class="ui container">
    <div class="ui three column doubling grid">
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
    </div>
</div>