$def with (columns, rows)
<div class="ui">
    <div class="ui styled fluid accordion">
        <div class="title"><i class="dropdown icon"></i>Filters: subnet /24, port 443, &gt;1000 conns</div>
        <div class="content" id="filters">
        </div>
    </div>
    <table class="ui selectable striped small table" id="resultsTable">
        <thead>
            <tr>
                $for name in columns:
                    <th>$name</th>
            </tr>
        </thead>
        <tbody>
            $for row in rows:
                <tr>
                    <td>
                        <a href="/metadata?ip=$row[0]">$row[0]</a>
                    </td>
                    $for item in row[1:]:
                        <td>$item</td>
                </tr>
            $if not rows:
                <tr>
                    <td colspan="$len(columns)">No matching results.</td>
                </tr>
        </tbody>
    </table>
</div>