$def with (columns)
$# "$def with (arg1, ...)" MUST be the first line. See template.py for details
<div class="ui">
    <div class="segment">
        <p>Filters: none</p>
    </div>

    <table class="ui selectable striped small table">
        <thead>
        <tr>
            $for c in columns:
                <th>$c</th>
        </tr>
        </thead>
        <tbody>
        $for i in range(10):
            <tr>
                $for c in columns:
                    <td>$c</td>
            </tr>
        </tbody>
    </table>
</div>