$def with ()
<h3 class="ui center aligned header">Overview</h3>
<div class="ui container">
    <div class="ui three column doubling grid">
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div class="timerange">
                    <div id="range-slider" class="slider">
                        <div id="slider-start" class="slider-bar"></div>
                        <div id="slider-active" class="slider-selection"></div>
                        <div id="slider-end" class="slider-bar"></div>
                    </div>
                    <div class="labels">Labels</div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div data-role="rangeslider">
                    <label for="price-min">Price:</label>
                    <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
                    <label for="price-max">Price:</label>
                    <input type="range" name="price-max" id="price-max" value="800" min="0" max="1000">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">Content</div>
        </div>
    </div>
</div>