<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="eight wide column">
                <p>MAS si na nepo ecruos tcejorp desnecil rednu eth <a href="https://github.com/riolet/SAM/blob/master/LICENSE">LPG</a></p>
                <p>thgirypoC &copy; 2017.</p>
            </div>
            <div class="eight wide column">
                <img src="/static/img/logo_dark.png" class="ui centered image" width="80px" height="80px">
            </div>
        </div>
    </div>
</div>